.board-info {
    width: 100%;
    &__rank {
        min-width: 15%;
        font-weight: bold;
    }
    &__name {
        min-width: 60%;
    }
    &__score {
        min-width: 25%;
    }
    &__title {
        font-weight: bold;
        display: flex;
    }
    &__list {
        display: flex;
    }
    &--border-space {
        padding: 7px;
        border-top: 1px rgba(128, 128, 128, 0.37) solid;
    }
}
